* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
   width: 320px;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    box-shadow: 8px 2px 8px rgba(73, 73, 73,4);

}

h2 {
    text-align:left;
    color: #007bff;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;

}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.exibir-senha {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: flex-end;
}

button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
    text-align: center;
    align-self: center;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

a { display: block;
    color: #007bff;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.close-btn:hover {
    color: #ff0000;
}

.exibir-senha input[type="checkbox"]
{margin-right: 5px;}